.body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.toggle {
  margin: 15px auto 0px 10px;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 290px;
  padding-top: 30px;
  margin: 0px auto 40px auto;
}
.city {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid rgb(46 71 185);
  background-color: rgb(46 71 185 / 11%);
  border-radius: 10px;
  padding: 0.3em;
  font-weight: 500;
}
.cityDark {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid rgb(46 71 185);
  background-color: white;
  border-radius: 10px;
  padding: 0.3em;
  font-weight: 500;
}

.button {
  width: 180px;
  margin: 5px auto 0px auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(46 71 185 / 47%);
  box-shadow: -1px 1px 2px 0px #ccc;
  border: 1px solid rgb(46 71 185 / 47%);
  font-weight: 500;
  transition: all 0.2s linear 0.1s;
}
.button:hover {
  background-color: #3049ba;
  color: white;
  border: 1px solid black;
  transform: rotate(-2deg);
}
.weather_container {
  display: flex;
  margin: 0px auto 10px auto;
  justify-content: center;
}
.para {
  font-weight: 600;
  margin-right: 15px;
}
.paraDark {
  font-weight: 600;
  color: white;
  margin-right: 15px;
}
.desc {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
}
.descDark {
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
}
.feel {
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.feelDark {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.humidity {
  font-weight: 600;
  display: flex;
  margin: auto;
  justify-content: center;
  /* width: 334px; */
  /* justify-content: flex-start; */
}
.humidityDark {
  color: white;
  font-weight: 600;
  display: flex;
  margin: auto;
  justify-content: center;
  /* width: 334px; */
  /* justify-content: flex-start; */
}
.windSpeed {
  font-weight: 600;
  display: flex;
  margin: auto;
  justify-content: center;
}
.windSpeedDark {
  color: white;
  font-weight: 600;
  display: flex;
  margin: auto;
  justify-content: center;
}
.timing {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  gap: 30px;
}
.timingDark {
  color: white;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  gap: 30px;
}
.sunrise {
  display: flex;
  flex-direction: column;
}
.sunriseIcon {
  margin: auto;
}
.sunset {
  display: flex;
  flex-direction: column;
}
.sunsetIcon {
  margin: auto;
}
.badgeButton {
  width: 170px;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin: 5px auto 0px auto;
  border-radius: 10px;
  transition: all 0.2s linear 0.1s;
  padding: 2px;
}
.badgeButton:hover {
  background-color: rgb(60, 60, 60);
  transform: rotate(2deg);
}

/*} Media query using the 'max-width' condition */
@media (max-width: 979px) {
  .para {
    margin-top: 3px;
    font-size: 30px;
  }
}
